<div class="col-md-6">
  {{ form.title }}
  {{ form.body }}
  {{ form.field_jp_special_notes }}
</div>
<div class="col-md-6">
  {{ form.field_jp_experience_max }}
  {{ form.field_jp_experience_min }}
  {{ form.field_jp_must_have_skills }}
  {{ form.field_jp_good_to_have_skills }}
  {{ form.field_jp_location }}
  {{ form.moderation_state }}
  {{ form.field_jp_expires_on }}
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
</div>
<div class="col-xs-12">
  {{ form.actions }}
</div>

