<div class="col-md-6">
  {{ form.title }}
  {{ form.body }}
  {{ form.field_candidate_email }}
  {{ form.field_candidate_cell }}
  {{ form.field_candidate_experience }}
  {{ form.field_notice_period }}
  {{ form.field_linkedin_profile }}
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
</div>
<div class="col-md-6">
  {{ form.field_candidate_location }}
  {{ form.field_candidate_skype }}
  {{ form.field_candidate_cell_alternate }}
  {{ form.field_candidate_resume }}
  {{ form.field_candidate_status }}
  {{ form.field_isactive }}
  {{ form.field_referred_by }}
  {{ form.field_assigned_to }}
  {{ form.field_notes }}
</div>
<div class="col-xs-12">
  {{ form.actions }}
</div>
